
.carousel-caption {
    text-shadow: 0 0 5px black,0 0 10px black, 0 0 20px black;
}
h2{
    text-shadow: 0 5px 3px rgba(0, 0, 0, 0.349),0 10px 9px rgba(0, 0, 0, 0.349);
}
.card.bg-dark.position-relative{
    top: -30px;
}
.card img.drp-shadow{
    filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.7));
}
.shadow-lg{
    box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.5) !important;
}
.badge{
    top: 5%;
    left: 90%;
    width: 100px;
    height: 100px;
    font-size: 20px;
    color: hsl(0, 94%, 37%);
    border:.3rem solid hsl(0, 94%, 37%);
    animation: blink 2s linear infinite;
    box-shadow: 0 0 5px hsl(0, 94%, 37%);
}
@keyframes blink {
    0%{
        color: hsl(0, 94%, 37%);
    box-shadow: 0 0 5px hsl(0, 93%, 27%), 0 0 10px hsl(0, 93%, 27%), 0 0 25px hsl(0, 93%, 27%);
    }
    50%{
        color: hsl(0, 100%, 51%);
    box-shadow: 0 0 2px hsl(0, 94%, 37%), 0 0 5px hsl(0, 96%, 19%),
    0 0 8px hsl(0, 94%, 37%);
    }
    100%{
    box-shadow: 0 0 5px hsl(0, 93%, 27%), 0 0 10px hsl(0, 93%, 27%), 0 0 25px hsl(0, 93%, 27%);
    color: hsl(0, 94%, 37%);
    }
}
.accordion .accordion-collapse.collapse.show{
    background-color: #C7C8C9 !important;
}
.accordion-button[aria-expanded="true"]{
    background-color: #535353;
    color: white;
}
.accordion-button:focus{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.accordion-button:not(.collapsed)::after{
    filter:invert(1);
    background-image: var(--bs-accordion-btn-icon);
}
@media screen and (min-width:768px) {
    .carousel img{
        height: 95vh;
        object-fit: cover;
    }
}